*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: dimgray;
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 5px;


}

.row {
    display: flex;
    flex-flow: wrap;
    margin: 0-15px;
}

.column {
    flex: 0 0 100%;
    padding: 0 15px;
}

.column.half {
    flex: 0 0 50%;
}

input,
textarea {
    width: 100%;
    padding: 15px 20px;
    margin: 0 0 30px;
    font-family: arial;
    background-color: #fbfbfb;
    border-radius: 3px;
    font-size: 16px;
    border: 0;
}

textarea {
    height: 150px;
    resize: none;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    cursor: pointer;
    background-color: darkblue;
    font-size: 18px;
}

input[type="cancel"] {
    display: block;
    margin: 0 auto;
    width: 150px;
    text-align: center;
    cursor: pointer;
    background-color: darkblue;
    font-size: 18px;
}